.DS_Store
cine-hoyts/
polimer-etp/
polimer-etp-cl/
polymer-cl/
Empresa\ ricardo/
Fierros\ Idini/
The\ kem\ barbershop/
Video\ de\ prueba*/
conflex/
plastiservi/
jpbmarketing/documentos/
*.pdf
*.pptx
*.py
node_modules/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
